html, body {
  margin: 20px 40px;
  font-size: 20px;
  font-family: 'Nanum Gothic', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.name {
  font-size: 4.5em;
  font-family: 'Handlee', cursive;
}

.name:hover {
  color: #5d5f60;
}

.title {
  font-size: 2em;
  color: #5d5f60;
}

nav {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: flex-start;
}

nav > div {
  font-size: 1.5em;
  margin-right: 1.5em;
}

nav > div:hover {
  color: #5d5f60;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #363738;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  font-size: 1em;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 1.5em;
  margin-left: 50px;
}

.container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 300px;
  grid-auto-flow: dense;
}

.wide {
  grid-column: span 2;
}


.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
    text-align: center;

}

.container > div:hover {
  opacity: 0.5;
}

.container > div > a {
}

.container > div:nth-child(1n) {
  background-color: #96ceb4;
}

.container > div:nth-child(3n) {
  background-color: #88d8b0;
}

.container > div:nth-child(2n) {
      background-color: #ff6f69;
}

.container > div:nth-child(4n) {
      background-color: #ffcc5c;
}

footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.5em;
}
