html, body {
  margin: 20px 40px;
  font-size: 20px;
  font-family: 'Nanum Gothic', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
}

.name {
  font-size: 4.5em;
  font-family: 'Handlee', cursive;
}

.name:hover {
  color: #5d5f60;
}

.title {
  font-size: 2em;
  color: #5d5f60;
}

nav {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: flex-start;
}

nav > div {
  font-size: 1.5em;
  margin-right: 1.5em;
}

nav > div:hover {
  color: #5d5f60;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #363738;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  font-size: 1em;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 1.5em;
  margin-left: 50px;
}

.container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 300px;
  grid-auto-flow: dense;
}

.wide {
  grid-column: span 2;
}

.statement {
  opacity: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
	font-size: 0.5em;
	display: flex;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  color: black;
  }

.statement:hover {
  opacity: 1;
}

.label {
  position: absolute;
}

.container > div {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.container > div:hover {
  opacity: 0.2;
}


footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.5em;
}
