html, body {
  margin: 20px 40px;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #353536;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  font-size: 4em;
  font-weight: 900;
  color: #fff;
}

nav {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: flex-start;
}

nav > div {
  font-size: 1.5em;
  margin-right: 2em;
  color: #fff;
}

nav > div:hover {
  color: #5d5f60;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #363738;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  font-size: 1em;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 1.5em;
  margin-left: 50px;
}

.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-auto-rows: 300px;
  grid-auto-flow: dense;
}

.wide {
  grid-column: span 2;
}

.tall {
  grid-row: span 2;
}

.extrawide {
  grid-column: span 3;
}

.container > a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.projectname {
  position: absolute;
  background-color: #fff;
  padding: 20px 20px;
  margin: 0;
  mix-blend-mode: screen;
  transition: all 500ms ease-in-out;
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-size: 3em;
  opacity: .85;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: lowercase;
  letter-spacing: -0.02em;
  line-height: .95em;
}

.projectname:hover {
  opacity: 0;
}

footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.5em;
  color: #fff
}

/* touchscreen settings */

@media screen and (max-width: 900px) {

  .container > a {
    align-items: center;
  }

  .projectname {
    font-size: 2em;
    height: auto;
    opacity: 1;
  }

  .extrawide {
    grid-column: span 2;
  }
}

@media screen and (max-width: 600px) {

  header {
    margin: 0 auto;
    text-align: center;
  }

  .name {
    font-size: 2.5em;
    font-size: 13.5vw;
  }

  nav {
    justify-content: space-between;
  }

  nav > div {
    font-size: 1em;
    text-align: center;
    margin-right: 0;
  }

  .container {
    display: grid;
    grid-template-columns: auto;
  }

  .container > a {
    margin-bottom: 10px;
    min-height: 50vw;
  }

  .wide {
    grid-column: span 1;
  }

  .extrawide {
    grid-column: span 1;
  }

}
